/a.out
/sqrp
/arr.dSYM/Contents/Resources/DWARF/arr
/arr
/arr.dSYM/Contents/Resources/Relocations/aarch64/arr.yml
/arr.dSYM/Contents/Info.plist
/Pascal.dSYM/Contents/Info.plist
/sqrp.dSYM/Contents/Info.plist
/Pascal.dSYM/Contents/Resources/DWARF/Pascal
/Pascal
/Pascal.dSYM/Contents/Resources/Relocations/aarch64/Pascal.yml
/sqrp.dSYM/Contents/Resources/DWARF/sqrp
/sqrp.dSYM/Contents/Resources/Relocations/aarch64/sqrp.yml
